<div class="jumbotron">

	<center>
		<h1>Welcome to Nora's Pizza Shack!</h1>

		<img src="http://chronicle.northcoastnow.com/files/2011/01/118pizzaslide.jpg">
		<br>

		<%= link_to "Check out our pizza!", pizzas_path, clas: "btn btn-default" %>


	</center>




</div>